<aside class="flex flex-col items-center w-[72px] h-screen bg-primary text-white py-4">
  <div class="mb-8 p-2">
    <div class="flex items-center justify-center w-10 h-10" routerLink="/project-management">
      <img src="assets/images/logo.png" alt="logo-brain" class="h-auto max-w-full" />
    </div>
  </div>

  <ng-container *ngIf="decodedToken?.sub.toLowerCase().includes('speedpresta') || isEmbedRoute">
    <nav class="flex flex-col gap-2">
      <a
        routerLink="/kanban"
        routerLinkActive="text-white before:bg-secondary"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center justify-center h-12 w-full text-gray-400 cursor-pointer transition-colors duration-200 relative hover:text-white before:content-[''] before:absolute before:left-0 before:h-[60%] before:w-[3px] before:bg-transparent before:rounded-r before:transition-colors before:duration-200"
      >
        <span class="material-icons">work</span>
      </a>
    </nav>
  </ng-container>

  <nav class="flex flex-col gap-2">
    <a
      routerLink="/project-management"
      routerLinkActive="text-white before:bg-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center justify-center h-12 w-full text-gray-400 cursor-pointer transition-colors duration-200 relative hover:text-white before:content-[''] before:absolute before:left-0 before:h-[60%] before:w-[3px] before:bg-transparent before:rounded-r before:transition-colors before:duration-200"
      title="Gestion de Projet"
    >
      <span class="material-icons">task_alt</span>
    </a>
  </nav>

  <nav class="flex flex-col gap-2">
    <a
      routerLink="/methodology"
      routerLinkActive="text-white before:bg-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center justify-center h-12 w-full text-gray-400 cursor-pointer transition-colors duration-200 relative hover:text-white before:content-[''] before:absolute before:left-0 before:h-[60%] before:w-[3px] before:bg-transparent before:rounded-r before:transition-colors before:duration-200"
    >
      <span class="material-icons">route</span>
    </a>
  </nav>

  <!-- NOUVEL ONGLET COACHING -->
  <nav class="flex flex-col gap-2">
    <a
      routerLink="/coaching"
      routerLinkActive="text-white before:bg-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center justify-center h-12 w-full text-gray-400 cursor-pointer transition-colors duration-200 relative hover:text-white before:content-[''] before:absolute before:left-0 before:h-[60%] before:w-[3px] before:bg-transparent before:rounded-r before:transition-colors before:duration-200"
      title="Coaching"
    >
      <span class="material-icons">psychology</span>
    </a>
  </nav>

</aside>